@import url(http://fonts.googleapis.com/css?family=Inconsolata);

#in, #out, #resources {
    z-index: 1;
}

html {
    background-color: #000;
}

*
{
    font-family: "Inconsolata";
    font-size: 13px;
}

body {
    font-family: "Inconsolata";
    font-size: 13px;
    color: #0f0;
}

#in {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 8px 0px 8px 8px;
    border-color: #fff;
    border-width: 1px 0 0 0;
    background-color: #000;
    color: #0f0;
}

#out
{
    position: absolute;
    padding-bottom: 13px;
}